.EditButtons {
	padding: 0.5rem;
	display: flex;
	flex-wrap: nowrap;

	> * + * {
		margin-left: 0.5rem;
	}

	.save {
		&:not(:disabled) {
			box-shadow: var(--shadow-low);
		}
	}

	button svg {
		width: 1.5rem;
		height: 1.5rem;
	}

	.spacer {
		width: 100%;
		margin: 0;
	}

	.menu {
		position: relative;

		.popup {
			left: 0;
			max-width: min-content;
			padding-left: 0;
			padding-right: 0;

			button {
				font-weight: normal;
				width: 100%;
				border: none;
				outline: none;
				border-radius: 0;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
}
