.EditButtons {
	padding: 0.5rem;
	display: flex;
	flex-wrap: nowrap;

	> * + * {
		margin-left: 0.5rem;
	}

	.save {
		svg {
			margin-right: 0.25rem;
		}

		&:not(:disabled) {
			box-shadow: var(--shadow-low);
		}
	}

	button > svg {
		width: 1.5rem;
		height: 1.5rem;
	}

	.spacer {
		width: 100%;
		margin: 0;
	}

	.popup-wrapper {
		position: relative;

		.popup {
			left: 0;
			max-width: min-content;

			button + button {
				margin-top: 0.5rem;
			}

			button {
				width: 100%;
				border: none;
				outline: none;
			}
		}
	}
}
