.Heading {
	padding: 0.5rem;
	margin-top: 0.5rem;

	display: flex;

	.title {
		width: 100%;

		h1,
		h2 {
			display: flex;
			align-items: baseline;
			word-break: break-word;

			span {
				word-break: normal;
			}

			* + * {
				margin-left: 0.5rem;
			}
		}

		h1 {
			color: var(--gray-8);
		}

		h2 {
			margin-top: 0.5rem;
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;

		* + * {
			margin-top: 0.5rem;
		}

		button,
		a.button {
			line-height: 1.5;
			background: none;
			margin-left: 0.5rem;
			border: none;
		}

		@media screen and (min-width: 600px) {
			flex-direction: row;
			position: fixed;
			bottom: 0;
			right: 0;
			padding: 0.5rem;

			* + * {
				margin-top: 0;
				margin-left: 0.5rem;
			}
		}
	}
}
