.Marks {
	width: 100%;
	height: min-content;
	margin: 0.5rem;
	display: flex;

	position: relative;

	* + button {
		margin-left: 0.5rem;
	}

	.popup {
		// width is set via js
		left: 0;

		.spacer {
			width: 100%;
		}

		img {
			cursor: grab;
			width: 2.5rem;
			height: 2.5rem;
			padding: 0.25rem;
		}
	}
}
