.StepDetails {
	padding: 0.5rem;
	display: flex;
	flex-wrap: wrap;

	button + button {
		margin-left: 0.5rem;
	}

	.encounter {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		h3 {
			flex-basis: 4rem;
			flex-grow: 1;
			max-width: min-content;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		button.change {
			border: none;
			margin-left: 0.5rem;

			&:not(:hover, :active) {
				background: none;
			}
		}

		.settings {
			margin-left: 0.5rem;
		}

		.panel {
			width: 100%;
			margin-top: 0.5rem;

			label {
				width: 100%;

				.slider {
					margin-left: 0.5rem;
				}
			}
		}
	}

	.info {
		width: 100%;
		margin-top: 0.5rem;
		display: flex;
		flex-wrap: nowrap;

		.leftright {
			display: flex;

			button {
				height: 100%;
			}
		}

		.currentstep {
			flex-grow: 1;
			margin-left: 0.5rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			h3 {
				flex-grow: 1;
				display: flex;
			}

			h4 {
				color: var(--gray-6);
				width: 100%;
				margin-top: 0.5rem;
			}
		}
	}
}

// Dialog is outside the scope of the component
.encounterdialog {
	.arenas {
		width: 100%;
		margin: 0.5rem 0;
		display: flex;
		flex-wrap: wrap;

		.arena {
			width: 6rem;
			height: 6rem;
			margin: 0.25rem;
			border-radius: var(--border-radius);

			cursor: pointer;

			transition: box-shadow 150ms;

			&:hover {
				box-shadow: var(--shadow-high);
			}

			@media screen and (min-width: 1000px) {
				width: 8rem;
				height: 8rem;
			}
		}
	}
}
