.TextEntityEditor {
	color: salmon;
	resize: none;
	position: absolute;
	background: none;
	width: min-content;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: none;
	outline: none;
	box-shadow: none;
	z-index: 1;

	&:hover {
		background: none;
		border: none;
	}

	&:active,
	&:focus {
		background: none;
		border: none;
		outline: none;
	}
}
