.Toolset {
	border: none;
	padding: 0.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	label + label {
		margin-top: 0.5rem;
	}

	label {
		width: 2rem;
		height: 2rem;
	}
}
