@import './sanitize.css';
@import './variables.css';
@import '@reach/accordion/styles.css';
@import '@reach/dialog/styles.css';
@import '@reach/tabs/styles.css';
@import '@reach/slider/styles.css';

:where(svg:not([fill])) {
	fill: currentColor;
}

:where(svg:not([stroke])) {
	stroke: currentColor;
}

body {
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--gray-7);
	background: var(--gray-1);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1rem;
}

ul {
	padding-left: 2rem;
}

label {
	width: fit-content;
	padding: 0.25rem 0.5rem;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	&:hover {
		background: var(--gray-2);
	}
}

fieldset {
	padding: 0;
	margin: 0.5rem;
	border: none;
	display: flex;

	label.icon {
		padding: 0.25rem;
	}

	label > input[type='radio'] {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
}

button,
fieldset > label,
a.button {
	position: relative;
	font-weight: bold;
	color: var(--gray-6);
	background: rgba(var(--gray-0-rgb), 0.95);
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 0.25rem 0.5rem;

	display: flex;
	align-items: center;
	white-space: nowrap;

	user-select: none;
	pointer-events: auto;

	transition: background 150ms;

	&:hover:not(:disabled) {
		cursor: pointer;
		background: rgba(var(--gray-2-rgb), 0.95);
	}

	&:active:not(:disabled),
	&.selected,
	&[data-state='open'] {
		color: var(--gray-8);
		background: rgba(var(--gray-2-rgb), 0.95);
	}

	&:disabled {
		cursor: not-allowed;
		color: var(--gray-4);
		border: 1px solid transparent;
		outline: none;
	}

	&:focus,
	&:focus-within {
		outline: var(--outline-emphasis);
	}

	&.icon {
		width: 2rem;
		height: 2rem;
		padding: 0.25rem;
	}
}

button.selected + .popup {
	visibility: visible;
	pointer-events: all;
	opacity: 1;
	transform: scale(1);
}

.popup {
	background: #fff;
	box-shadow: var(--shadow-high);
	border-radius: var(--border-radius);
	outline: var(--border);

	display: flex;
	flex-wrap: wrap;

	padding: 0.5rem;
	// width is set via js
	max-width: 100%;
	overflow: auto;
	position: absolute;
	top: calc(100% + 0.5rem);
	z-index: 1;

	cursor: default;

	// transitioned on select
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform-origin: top left;
	transform: scale(0.97);
	transition: background 150ms, opacity 150ms ease, transform 150ms ease;
}

:where(input:not([type='checkbox'])) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: var(--gray-2);
	width: 100%;
	padding: 0.25rem;
	border: 1px solid transparent;
	border-radius: var(--border-radius);

	transition: background 150ms;

	&:hover {
		background: var(--gray-0);
		border: var(--border);
	}

	&:active,
	&:focus {
		background: var(--gray-0);
		border: var(--border);
		outline: var(--outline-emphasis);
	}
}

input[type='checkbox'] {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.5rem;
	border: none;
	border-radius: var(--border-radius);
}

.kbd {
	font-size: 0.9rem;
	font-weight: bold;
	font-family: monospace;
	background: var(--gray-2);
	padding: 0.1rem 0.25rem;
	margin: 0 0.25rem;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-low);
	white-space: nowrap;
}

[data-reach-accordion] {
	[data-reach-accordion-button] {
		background: none;
		width: 100%;
		border: none;
		border-top: 1px solid var(--gray-3);
		border-radius: 0;

		&[data-state='open'] {
			color: var(--gray-8);
			border-bottom: none;
		}
	}

	[data-reach-accordion-panel] {
		padding: 0.5rem;

		transform-origin: top left;
		animation: appear 150ms ease;
	}
}

[data-reach-dialog-overlay] {
	background: rgba(10, 10, 10, 0.6);
	display: flex;

	animation: fadein 150ms;
}

[data-reach-dialog-content] {
	background: var(--gray-1);
	width: 100%;
	height: 100%;
	padding: 1rem;
	margin: 0;
	overflow-y: auto;

	position: relative;

	transform-origin: top center;
	animation: appear 150ms ease;

	button.icon.close {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	@media screen and (min-width: 600px) {
		width: 75vw;
		max-height: 90vh;
		height: auto;
		margin: auto;
		border: var(--border);
		border-radius: var(--border-radius);
		box-shadow: var(--shadow-high);
	}

	@media screen and (min-width: 800px) {
		width: 50vw;
	}
}

[data-reach-disclosure-panel] {
	transform-origin: top left;
	animation: appear 150ms ease;
}

[data-reach-slider] {
	width: 100%;

	[data-reach-slider-track] {
		background: var(--gray-2);
		[data-reach-slider-range] {
			background: var(--blue-4);
		}

		[data-reach-slider-handle] {
			background: var(--blue-5);
			z-index: inherit;
			cursor: pointer;
		}
	}
}

[data-reach-tab-list] {
	background: none;
	margin-bottom: 0.5rem;

	[data-reach-tab] {
		font-weight: bold;
		color: var(--gray-6);
		padding: 0.25rem 0.5rem;
		border: 1px solid transparent;
	}

	[data-reach-tab][data-selected] {
		color: var(--gray-8);
		background: rgba(var(--gray-2-rgb), 0.95);
		border: 1px solid transparent;
		box-shadow: none;
	}

	[data-reach-tab] + [data-reach-tab] {
		margin-left: 0.5rem;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0.97);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
