@import './sanitize.css';
@import './variables.css';

:where(svg:not([fill])) {
	fill: currentColor;
}

:where(svg:not([stroke])) {
	stroke: currentColor;
}

body {
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--gray-1);
	color: var(--gray-8);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1rem;
}

fieldset {
	padding: 0.5rem;
	border: none;
	display: flex;

	label.icon {
		width: 2.5rem;
		height: 2.5rem;
		padding: 0.25rem;
	}

	label > input[type='radio'] {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
}

button,
fieldset > label {
	position: relative;
	color: var(--gray-6);
	background: var(--gray-0);
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 0.25rem 0.5rem;

	display: flex;
	align-items: center;
	white-space: nowrap;

	transition: background 150ms, color 150ms;

	user-select: none;
	pointer-events: auto;

	&:hover {
		cursor: pointer;
		background: var(--gray-2);
	}

	&:active,
	&.selected {
		color: var(--gray-9);
		background: var(--gray-2);
	}

	&:disabled {
		cursor: default;
		color: var(--gray-5);
	}

	&:focus,
	&:focus-within {
		outline: var(--outline-emphasis);
	}
}

button.selected + .popup {
	visibility: visible;
	pointer-events: all;
	opacity: 1;
	transform: scale(1);
}

.popup {
	background: #fff;
	box-shadow: var(--shadow-high);
	border-radius: var(--border-radius);
	outline: var(--border);

	display: flex;
	flex-wrap: wrap;

	padding: 0.25rem;
	// width is set via js
	max-width: 100%;
	overflow: auto;
	position: absolute;
	top: calc(100% + 0.5rem);
	z-index: 1;

	cursor: default;

	// transitioned on select
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform-origin: top left;
	transform: scale(0.97);
	transition: background 150ms, opacity 150ms ease, transform 150ms ease;
}

.App {
	width: 100%;
	min-height: 100vh;

	& > *:not(.diagram) {
		margin: 0 0.5rem;
	}

	& > * + * {
		margin-top: 0.5rem;
	}

	.diagram {
		// reserve a square of 100% width in flex layout
		width: 100%;
		height: 100%;
		padding-bottom: 100%;
		display: flex;
		align-items: center;

		position: relative;

		touch-action: none;

		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			pointer-events: none;

			display: flex;

			button,
			label {
				background: rgba(var(--gray-0-rgb), 0.95);
				font-weight: bold;

				&:active,
				&.selected {
					background: rgba(var(--gray-2-rgb), 0.95);
				}
			}
		}

		.canvas-container {
			position: absolute;
			left: 0;
			right: 0;
			transform: translateY(50%);
			width: 100%;
			height: 100%;

			canvas {
				background: var(--gray-0);
			}
		}
	}

	@media screen and (min-width: 600px) {
		width: 75%;

		& > * {
			margin: 0 0;
		}

		.diagram .canvas-container canvas {
			border-radius: var(--border-radius);
			outline: var(--border);
		}
	}

	// tablets or larger, must have room for a sidebar
	// can't mix calc units in the media query to account for the sidebar:
	// https://bugs.chromium.org/p/chromium/issues/detail?id=843584
	// as a workaround, use fixed width instead
	@media screen and (min-aspect-ratio: 5/4) and (min-width: 800px) {
		width: 100%;
		max-width: calc(100vh + 30rem);

		display: grid;
		grid-template-columns: 100vh 1fr;
		grid-template-rows: min-content 1fr min-content;
		grid-template-areas:
			'diagram a'
			'diagram b'
			'diagram c';

		.diagram {
			grid-area: diagram;
			margin: 0;
			padding: 0;
			display: block;

			.canvas-container {
				height: 100vh;
				position: sticky;
				top: 0;
				left: 0;
				right: 0;
				transform: none;

				canvas {
					border-radius: 0;
				}
			}
		}

		.heading {
			grid-area: a;
		}

		.notes {
			grid-area: b;
		}

		footer {
			grid-area: c;
		}
	}
}

.Toolset {
	height: 100%;
	display: flex;
	align-items: center;

	fieldset {
		flex-direction: column;

		label + label {
			margin-top: 0.5rem;
		}
	}
}

.Heading {
	padding: 0.5rem;

	h2 {
		color: var(--gray-6);
	}
}

.Notes {
	color: var(--gray-7);
	padding: 0.5rem;

	.title {
		color: var(--gray-6);
		display: flex;
		justify-content: space-between;
	}

	textarea {
		background: var(--gray-0);
		width: 100%;
		margin-top: 0.5rem;
		border: var(--border);
		border-radius: var(--border-radius);
		resize: none;

		&:focus-visible {
			outline: none;
			border: var(--border);
			box-shadow: var(--shadow-emphasis);
		}
	}
}

footer {
	color: var(--gray-6);
	font-size: 0.9rem;
	padding: 0.5rem;

	p {
		margin: 0;
	}

	p + p {
		margin-top: 0.5rem;
	}
}
