@import './sanitize.css';
@import './open-color.css';

:where(svg:not([fill])) {
	fill: currentColor;
}

:where(svg:not([stroke])) {
	stroke: currentColor;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--oc-gray-1);
	color: var(--oc-gray-9);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1,
h2 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

button,
fieldset > label {
	position: relative;
	width: min-content;
	padding: 0.3rem 0.6rem;
	background: var(--oc-gray-0);
	border: none;
	border-radius: 0.3rem;

	display: flex;
	align-items: center;

	transition: background 150ms, color 150ms;

	user-select: none;
	pointer-events: auto;

	&:hover {
		cursor: pointer;
		background: var(--oc-gray-2);
	}

	&:active,
	&.selected {
		background: var(--oc-gray-3);
	}

	&:disabled {
		cursor: default;
		color: var(--oc-gray-5);
	}

	&:focus,
	&:focus-within {
		outline: 0.2em solid rgba(var(--oc-blue-5-rgb), 0.6);
	}
}

fieldset {
	padding: 0.5rem;
	border: none;
	display: flex;

	label.icon {
		width: 2.4rem;
		height: 2.4rem;
		padding: 0.3rem;
	}

	label > input[type='radio'] {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
}

.App {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	.diagram {
		// reserve a square of 100% width in flex layout
		width: 100%;
		height: 100%;
		padding-bottom: 100%;
		display: flex;
		align-items: center;

		position: relative;

		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			pointer-events: none;

			display: flex;

			button,
			label {
				background: rgba(var(--oc-gray-0-rgb), 0.95);
				font-weight: bold;

				&.selected {
					background: rgba(var(--oc-gray-2-rgb), 0.95);
					box-shadow: 1px 1px 0px 1px rgba(60, 60, 60, 0.1),
						3px 3px 3px rgba(10, 10, 10, 0.25);
				}
			}
		}

		.canvas-container {
			position: absolute;
			left: 0;
			right: 0;
			transform: translateY(50%);
			width: 100%;
			height: 100%;

			canvas {
				background: #fefefe;
			}
		}
	}

	@media screen and (min-width: 600px) {
		width: 75%;
	}

	// tablets or larger, must have room for a sidebar
	@media screen and (min-aspect-ratio: 5/4) and (min-width: calc(100vh + 16rem)) {
		width: 100%;
		max-width: calc(100vh + 30rem);

		display: grid;
		align-items: flex-start;
		grid-template-columns: 100vh auto;
		grid-template-rows: min-content 1fr min-content;
		grid-template-areas:
			'd a'
			'd b'
			'd c';

		.diagram {
			grid-area: d;
			padding: 0;
			display: block;

			.canvas-container {
				height: 100vh;
				position: sticky;
				top: 0;
				left: 0;
				right: 0;
				transform: none;
			}
		}

		.heading {
			grid-area: a;
		}

		.notes {
			grid-area: b;
		}

		.properties {
			grid-area: c;
		}
	}
}

.Toolset {
	height: 100%;
	display: flex;
	align-items: center;

	fieldset {
		flex-direction: column;

		label + label {
			margin-top: 0.5rem;
		}
	}
}

.Marks {
	width: 100%;
	height: min-content;
	margin: 0.5rem;
	display: flex;

	position: relative;

	* + button {
		margin-left: 0.5rem;
	}

	button.hovered .icons,
	button.selected .icons {
		pointer-events: all;
		opacity: 1;
		transform: scale(1);
	}

	// icons drawer appearing should be enough clarity
	button {
		&:focus,
		&:focus-within {
			outline: 0;
		}
	}

	.icons {
		background: inherit;
		box-shadow: inherit;
		border-radius: inherit;

		display: flex;
		flex-wrap: wrap;

		width: 13rem; // adjust with js later
		padding: 0.5rem;
		position: absolute;
		top: calc(100% + 0.5rem);
		left: 0;
		z-index: 1;

		cursor: default;

		// transitioned on select
		pointer-events: none;
		opacity: 0;
		transform-origin: top left;
		transform: scale(0.97);
		transition: background 150ms, opacity 150ms ease, transform 150ms ease;

		img {
			cursor: grab;
			width: 4rem;
			height: 4rem;
			padding: 0.5rem;
		}
	}
}

.Heading,
.Properties,
.Notes {
	width: 100%;
	padding: 0.5rem;
}

.Heading {
	h2 {
		color: var(--oc-gray-7);
	}
}
