:root {
	--border: 1px solid var(--gray-3);
	--border-radius: 0.3rem;
	--outline-emphasis: 0.15rem solid rgba(var(--blue-4-rgb), 0.65);
	--shadow-emphasis: 0 0 0 0.15rem rgba(var(--blue-4-rgb), 0.65);
	--shadow-low: 0 1px rgba(10, 10, 10, 0.075), 0 2px 2px rgba(10, 10, 10, 0.2);
	--shadow-medium: 0 3px 4px rgba(10, 10, 10, 0.2);
	--shadow-high: 0 6px 12px rgba(10, 10, 10, 0.3);

	--gray-0: #fffefc;
	--gray-0-rgb: 255, 254, 252;
	--gray-1: #faf9f7;
	--gray-1-rgb: 250, 249, 247;
	--gray-2: #ecebea;
	--gray-2-rgb: 236, 235, 234;
	--gray-3: #d6d6d6;
	--gray-3-rgb: 214, 214, 214;
	--gray-4: #bababc;
	--gray-4-rgb: 186, 186, 188;
	--gray-5: #97999c;
	--gray-5-rgb: 151, 153, 156;
	--gray-6: #707377;
	--gray-6-rgb: 112, 115, 119;
	--gray-7: #46494f;
	--gray-7-rgb: 70, 73, 79;
	--gray-8: #1a1f26;
	--gray-8-rgb: 26, 31, 38;

	--blue-0: #f4faff;
	--blue-0-rgb: 244, 250, 255;
	--blue-1: #b9defd;
	--blue-1-rgb: 185, 222, 253;
	--blue-2: #80c1f9;
	--blue-2-rgb: 128, 193, 249;
	--blue-3: #4ba3f1;
	--blue-3-rgb: 75, 163, 241;
	--blue-4: #1885e7;
	--blue-4-rgb: 24, 133, 231;
	--blue-5: #1764ab;
	--blue-5-rgb: 23, 100, 171;

	/* low contrast, only use for graphics.
	 * green-5 barely above a 3.0 contrast ratio*/
	--green-0: #f5fcf9;
	--green-0-rgb: 245, 252, 249;
	--green-1: #bdead7;
	--green-1-rgb: 189, 234, 215;
	--green-2: #94dbbd;
	--green-2-rgb: 148, 219, 189;
	--green-3: #70cda7;
	--green-3-rgb: 112, 205, 167;
	--green-4: #4fbf92;
	--green-4-rgb: 79, 191, 146;
	--green-5: #3ea47b;
	--green-5-rgb: 62, 164, 123;

	--red-0: #fff9f9;
	--red-0-rgb: 255, 249, 249;
	--red-1: #fababa;
	--red-1-rgb: 250, 186, 186;
	--red-2: #f19192;
	--red-2-rgb: 241, 145, 146;
	--red-3: #e47072;
	--red-3-rgb: 228, 112, 114;
	--red-4: #d55558;
	--red-4-rgb: 213, 85, 88;
	--red-5: #c33f42;
	--red-5-rgb: 195, 63, 66;

	--pink-0: #fff5f5;
	--pink-0-rgb: 255, 245, 245;
	--pink-1: #ffa2a9;
	--pink-1-rgb: 255, 162, 169;
	--pink-2: #ff6478;
	--pink-2-rgb: 255, 100, 120;
	--pink-3: #ff2c52;
	--pink-3-rgb: 255, 44, 82;
	--pink-4: #f70037;
	--pink-4-rgb: 247, 0, 55;
	--pink-5: #c60035;
	--pink-5-rgb: 198, 0, 53;

	/* the following colors are picked from
	 * https://yeun.github.io/open-color/
	 */

	--purple-0: #fcf4ff;
	--purple-0-rgb: 252, 244, 255;
	--purple-1: #bfa2f7;
	--purple-1-rgb: 191, 162, 247;
	--purple-2: #a282f2;
	--purple-2-rgb: 162, 130, 242;
	--purple-3: #8a69ee;
	--purple-3-rgb: 138, 105, 238;
	--purple-4: #7354eb;
	--purple-4-rgb: 115, 84, 235;
	--purple-5: #5b42e8;
	--purple-5-rgb: 91, 66, 232;

	--cyan-0: #f1fbfc;
	--cyan-0-rgb: 241, 251, 252;
	--cyan-1: #a5dcdd;
	--cyan-1-rgb: 165, 220, 221;
	--cyan-2: #82d0d1;
	--cyan-2-rgb: 130, 208, 209;
	--cyan-3: #65c6c7;
	--cyan-3-rgb: 101, 198, 199;
	--cyan-4: #47bdbf;
	--cyan-4-rgb: 71, 189, 191;
	--cyan-5: #1eb6b8;
	--cyan-5-rgb: 30, 182, 184;

	--lime-0: #f5fce9;
	--lime-0-rgb: 245, 252, 233;
	--lime-1: #d2f39f;
	--lime-1-rgb: 210, 243, 159;
	--lime-2: #b8ee66;
	--lime-2-rgb: 184, 238, 102;
	--lime-3: #9fea33;
	--lime-3-rgb: 159, 234, 51;
	--lime-4: #83d414;
	--lime-4-rgb: 131, 212, 20;
	--lime-5: #66a80f;
	--lime-5-rgb: 102, 168, 15;

	--yellow-0: #fffced;
	--yellow-0-rgb: 255, 252, 237;
	--yellow-1: #ffefb9;
	--yellow-1-rgb: 255, 239, 185;
	--yellow-2: #ffdb84;
	--yellow-2-rgb: 255, 219, 132;
	--yellow-3: #ffc150;
	--yellow-3-rgb: 255, 193, 80;
	--yellow-4: #ffa01b;
	--yellow-4-rgb: 255, 160, 27;
	--yellow-5: #e67700;
	--yellow-5-rgb: 230, 119, 0;
}
